
gp0/.vs/gp0/v15/Server/sqlite3/storage.ide-wal
gp0/.vs/gp0/v15/Server/sqlite3/storage.ide-wal
gp0/.vs/gp0/v15/Server/sqlite3/storage.ide-shm
gp0/gp0/obj/Debug/netcoreapp2.1/gp0.assets.cache
gp0/gp0/obj/Debug/netcoreapp2.1/gp0.csproj.CoreCompileInputs.cache
gp0/gp0/obj/Debug/netcoreapp2.1/gp0.csprojAssemblyReference.cache
gp0/gp0/obj/gp0.csproj.nuget.cache
gp0/gp0/obj/gp0.csproj.nuget.g.props
gp0/gp0/obj/project.assets.json
gp0/.vs/gp0/DesignTimeBuild/.dtbcache
gp0/.vs/gp0/v15/.suo
