@model gp0.ViewModels.LoginView
@{
    Layout = "LoginLayout";
    ViewData["Title"] = "Login";
}
<br />
<div>
    <form class="form-signin  form" asp-controller="Auth" asp-action="Login" method="post" role="form">
        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        <output>@Model.error</output>
        <input name="email" type="email" id="inputEmail" asp-for="email" class="form-control" placeholder="Email address" required autoFocus />
        <output></output>
        <input name="password" type="password" id="inputPassword" asp-for="password" class="form-control" placeholder="Password" required />
        <br />
        <button class="btn btn-secondary btn-block" type="submit">Войти</button>
    </form>
    <hr/>
    <div class="table-borderless">
        <h1 class="h3 mb-3 font-weight-normal" align="center">Авторизация по сертификату</h1>
        <div id="panel1" class="tab-pane active">
            <div class="divTableCell">
                <h3 id="info_msg" name="CertificateTitle">Выберите сертификат:</h3>
                <div id="item_border" name="CertListBoxToHide">
                    <select size="10" name="CertListBox" id="CertListBox" style="width: 100%; resize: none; border: 1px solid lightslategray;"></select>
                </div>
                <div id="boxdiv" style="display: none">
                    <span id="errorarea">
                        У вас отсутствуют личные сертификаты. Вы можете получить сертификат от тестового УЦ, предварительно установив корневой сертификат тестового УЦ в доверенные.
                    </span>
                </div>
            </div>
            <div id="cert_info" class="divTableCell">
                <h3 id="cert_txt" style="visibility: hidden">Информация о сертификате:</h3>
                <p class="info_field" id="subject"></p>
                <p class="info_field" id="issuer"></p>
                <p class="info_field" id="from"></p>
                <p class="info_field" id="till"></p>
                <p class="info_field" id="provname"></p>
                <p class="info_field" id="algorithm"></p>
                <p class="info_field" id="status"></p>
            </div>
        </div> 
    </div>
    <br />
    <button class="btn btn-secondary btn-block" onclick="AuthCertificate('CertListBox','Login')">Войти с помощью сертификата</button>
    <p class="info_field" id="Success1"></p>
</div>