@model gp0.ViewModels.RegistrationView
@{
    Layout = "LoginLayout";
    ViewData["Title"] = "Registration";
}
<div>
    <form class="form-signin  form" asp-controller="Auth" asp-action="Registration" method="post" role="form">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        <output>@Model.error</output>
        <input name="email" type="email" asp-for="email" id="inputEmail" class="form-control" placeholder="Email address" required autoFocus />
        <br />
        <input name="login" type="text" asp-for="login" id="inputLogin" class="form-control" placeholder="Login" required />
        <br />
        <input name="password" id="inputPassword" asp-for="password" class="form-control" placeholder="Password" type="password" required />
        <br />
        <button class="btn btn-secondary btn-block" type="submit">Зарегистрироваться</button>
    </form>
    <div id="panel1" class="tab-pane active">
        <p id="info_msg" name="CertificateTitle">Сертификат:</p>
        <div id="item_border" name="CertListBoxToHide">
            <select size="4" name="CertListBox" id="CertListBox" style="width:100%;resize:none;border:0;"></select>
        </div>
        <div id="boxdiv" style="display:none">
            <span id="errorarea">
                У вас отсутствуют личные сертификаты. Вы можете получить сертификат от тестового УЦ, предварительно установив корневой сертификат тестового УЦ в доверенные.
            </span>
        </div>
        <div id="cert_info">
            <h3 id="cert_txt" style="visibility:hidden">Информация о сертификате</h3>
            <p class="info_field" id="subject"></p>
            <p class="info_field" id="issuer"></p>
            <p class="info_field" id="from"></p>
            <p class="info_field" id="till"></p>
            <p class="info_field" id="provname"></p>
            <p class="info_field" id="algorithm"></p>
            <p class="info_field" id="status"></p>
        </div>
        <br />
        <input name="emailCertificate" type="email" id="emailCertificate" class="form-control" placeholder="Email address" required autoFocus />
        <br />
        <button class="btn btn-secondary btn-block" onclick="AuthCertificate('CertListBox','Registration');"> Зарегистрировать сертификат </button>
        <p class="info_field" id="Success1"></p>
    </div>
</div>

