<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - gpo2018_2019</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
