@model IEnumerable<gpo2018_2019.Models.Users>
@{
    ViewBag.Title = "Все люди";
}
<a asp-action="Create">Добавить модель</a>
<table class="table">
    <tr><td>Модель</td><td>Производитель</td><td>Цена</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.login</td><td>@item.password</td><td>@item.serialnumber</td></tr>
    }
</table>
<div id="content"></div>
<!--delete-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src='@Url.Content("~/App/index.jsx")'></script>
