@model IEnumerable<gp0.ViewModels.UserView>
@{
    Layout = "AdminLayout";
}

    <div >
        @foreach (var user in Model)
        {
            <p>Фамилия Имя</p>
            <p>@user.email</p>
            <hr />
        
        }
    </div>
