@model IEnumerable<gp0.ViewModels.UserView>
@{
    Layout = "HomeLayout";
}

    <div>
        @foreach (var user in Model)
        {
            <p><b>@user.full_name</b></p>
            <p>@user.position</p>
            <p>Email: @user.email</p>
            <hr />

        }
    </div>
