@{
    ViewData["Title"] = "Sing up";
}
<br />
<form class="form-signup  form">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
   
    <label>Username</label>
    <input type="text" class="form-control" id="validationDefault02" placeholder="Username" required
           
    />
    <label>Email address</label>
    <input type="email" class="form-control" id="validationDefault03" placeholder="Email address" required
           
    />
    <label>Password</label>
    <input type="password" class="form-control" id="validationDefault04" placeholder="Password" required
           
    />
    <br />
    <button class="btn btn-primary btn-block btn-lg" type="button">Submit form</button>
    
</form>
