@model IEnumerable<Document>
@{
    ViewData["Title"] = "Home Page";
    Layout = "HomeLayout";
}
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Message</th>
        <th scope="col">Sender</th>
        <th scope="col">Chto-to ewe</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var doc in Model)
    {
        <tr>
            <th scope="row"></th>
            <td>@doc.id</td>
            <td>@doc.idReceiver</td>
            <td>@doc.idSender</td>
        </tr>
    }
    </tbody>
</table>



