@{
    ViewData["Title"] = "Home Page";
}
<div id="min-width">
    <div id="container">
        <h3 class="text-center">HomePage XmlDSig</h3>
        <div class="mainContent">
            <div id="info">
                <div id="info_msg" style="text-align:center;">
                    <span id="PlugInEnabledTxt">Проверка</span>
                    <br>
                    <span id="PlugInVersionTxt" lang="ru"> </span>
                    <span id="CSPVersionTxt" lang="ru"> </span>
                    <br>
                    <span id="CSPNameTxt" lang="ru"> </span>
                    <script language="javascript">
                        CheckForPlugIn('isPlugInEnabled');
                    </script>    
                </div>
            </div>
        </div>
    </div>
</div>




