@model gp0.ViewModels.DocumentView
@{
    Layout = "HomeLayout";
}
<body>
<div>
    <h4>Текст сообщения: </h4>
    <textarea style="height: 300px; width: 100%; resize: none; border: 1px solid lightgray;" readonly="readonly" id="Text">@Model.text</textarea>
    <h5>Дата отправки: @Model.date</h5>
    <h5>Отправил: @Model.sender</h5>
    <div>
        <button class="btn btn-secondary btn-block" onclick="CheckDoc('Text')">Проверить подпись</button>
        <input hidden="true" name="id" value=@Model.id />
        <input class="btn btn-secondary btn-block" style="margin-top: 10px; background-color: darkred" type="button" asp-controller="Home" asp-action="DeleteInDocument" value="Удалить документ" />
    </div>
    <div hidden="true" id="result">
        <div class="divTableCellSmall"><h4 id="Success1"></h4></div>
        <div class="divTableCell" hidden="true" id="resultCertificate">
            <h4>Информация о сертификате: </h4>
            <p id="subject"></p>
            <p id="issuer"></p>
            <p id="dateto"></p>
            <p id="algorithm"></p>
            <p id="valid"></p>
            <p id="message"></p>
        </div>
    </div>
</div>
</body>

