@{
    Layout = "HomeLayout";
}

<!DOCTYPE html>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Message</th>
            <th scope="col">Sender</th>
            <th scope="col">Chto-to ewe</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach( x in model)*@
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

