@model IEnumerable<gp0.ViewModels.DocumentView>
@{
    Layout = "HomeLayout";
}

<!DOCTYPE html>

<table class="table">
    <thead class="thead-light">
        <tr>
            
            <th scope="col">Получатель</th>
            <th scope="col">Дата</th>
            <th scope="col">Текст</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model)
        {
            <tr>
                
                <td>@doc.receiver</td>
                <td>@doc.date</td>
                <td>@doc.text</td>
            </tr>
        }
    </tbody>
</table>

