@model gp0.ViewModels.UserView
@{
    Layout = "HomeLayout";
}
<!DOCTYPE html>
<div>
    <h5>@Model.full_name</h5>
    <h5>@Model.position</h5>
    <h5>Email: @Model.email</h5>
    <h5>Логин: @Model.login</h5>
</div>