@model gp0.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "HomeLayout";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <h2>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </h2>
}
